<div class="row">
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        {{sort-labels isSorted=isSorted action="sort"}}
      </div>
      <div class="panel-body">
        {{#if 'isSorted'}}
        {{#view 'select-item'}}
          {{#each sortedContent}}
            {{#link-to 'wacomlabel' this}}
              <li class="list-group-item">
                {{id}}
                <span id="pointer" class="pull-right"></span>
                <span class="label label-success pull-right">
                  {{repeat}}
                </span>
              </li>
            {{/link-to}}
          {{/each}}
        {{/view}}
        {{else}}
        {{#view 'select-item'}}
          {{#each labels}}
            {{#link-to 'wacomlabel' this}}
              <li class="list-group-item">
                {{id}}
                <span id="pointer" class="pull-right"></span>
                <span class="label label-success pull-right">
                  {{repeat}}
                </span>
              </li>
            {{/link-to}}
          {{/each}}
        {{/view}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
